{% macro input(name, label=name, type='text', value='', required=false, classlist=[], message='', form, attrs={}, styles={}, options=[], optionkey='name', multiple=false) %}

  {% set error = false %}
  {% set invalid = false %}
  {% for err in form.errors %}
    {% if err.context.key == name %}
      {% set error = err %}
      {% set invalid = true %}
    {% endif %}
  {% endfor %}

  {% set tagname = 'input' %}

  {% if type == 'checkbox' %}
    {% set _ = classlist.push('form-check-input') %}
  {% elif type == 'number' %}
    {% set styles = styles|setProp('width', '5em') %}
  {% elif type == 'textarea' %}
    {% set tagname = 'textarea' %}
  {% endif %}

  {% if type != 'checkbox' %}
    {% set _ = classlist.push('form-control') %}
  {% endif %}

  <div class="form-group {{ 'form-check' if type == 'checkbox' }}">

    {% if type == 'checkbox' %}
      <input
        {{ inputTag(name, required, type, classlist, invalid, form, styles, attrs) }}
        {{ 'checked' if form[name] }}
      />
      <label for="input-{{ name }}" class="form-check-label">{{ label }}</label>
    {% elif type == 'textarea' %}
      <label for="input-{{ name }}">{{ label }}</label>
      <textarea {{ inputTag(name, required, type, classlist, invalid, form, styles, attrs) }}>{{ form[name] or value }}</textarea>
    {% elif type == 'select' or type == 'select2' %}
      <label for="input-{{ name }}">{{ label }}</label>
      <select name="{{ name }}{{ '[]' if multiple }}" id="input-{{ name }}" class="custom-select {{ 'select2' if type == 'select2' }}" {{ 'multiple="multiple"' if type == 'select2' }}>
        <option>{{ 'select...' if type != 'select2' }}</option>
        {% if multiple %}
          {% for o in options %}
            <option {{ 'selected' if o.id in form[name] }} value="{{ o.id }}">{{ o[optionkey] }}</option>
          {% endfor %}
        {% elif value %}
          {% for o in options %}
            <option {{ 'selected' if o.id == value }} value="{{ o.id }}">{{ o[optionkey] }}</option>
          {% endfor %}
        {% else %}
          {% for o in options %}
            <option {{ 'selected' if o.id == form[name] }} value="{{ o.id }}">{{ o[optionkey] }}</option>
          {% endfor %}
        {% endif %}
      </select>
    {% else %}
      <label for="input-{{ name }}">{{ label }}</label>
      <input {{ inputTag(name, required, type, classlist, invalid, form, styles, attrs) }}/>
    {% endif %}

    {% if invalid %}
      <div class="invalid-feedback">
      {{ error.message }}
      </div>
    {% endif %}
  </div>
{% endmacro %}

{% macro inputTag(name, required, type, classlist, invalid, form, styles, attrs) %}
  id="input-{{ name }}"
  name="{{ name }}"
  {{ 'required' if required }}
  type="{{ type }}"
  class="{{ classlist|join(' ') }} {{ 'is-invalid' if invalid }}"
  value="{{ form[name] or value }}"
  style="{% for k,v in styles %} {{ k }}: {{ v }}; {% endfor %}"
  {% for k,v in attrs %}{{ k }}="{{ v }}"{% endfor %}
{% endmacro %}
