{% extends '_template.njk' %}

{% from 'macros/input.njk' import input %}

{% block body %}
<div class="container">

<h1>Change Password</h1>

{% if not done %}
<p>Enter your new password below. Passwords must be at least 8 characters.</p>

<form action="/change-password" method="POST">
  <input type="hidden" name="userId" value="{{ user.id }}">
  <input type="hidden" name="token" value="{{ token }}">
  {{ input(name='password', type='password', attrs={minlength:8}, form=form ) }}
  {{ input(name='password2', type='password', attrs={minlength:8}, form=form ) }}
  <button class="btn btn-primary" type="submit">Submit</button>
</form>

{% else %}

<div class="alert alert-success">
  <p>Password successfully changed.</p>
  <p>You may now <a href="/login">login</a>.</p>
</div>

{% endif %}

</div>
{% endblock %}
