{% extends '_template.njk' %}

{% from 'macros/input.njk' import input %}

{% block body %}
<div class="container">

<h1>Password Reset</h1>

{% if not done %}

<p>Enter your email address below. A new temporary password will be sent to your email.</p>

<form action="/password-reset" method="POST">
  {{ input(name='email', type='email', label='Email', required=true) }}
  <button class="btn btn-primary" type="submit">Submit</button>
</form>

{% else %}

<div class="alert alert-success">
  <p>Email submitted successfully. If an account exists for that email address,
  it will recieve a password reset link shortly.</p>
</div>

{% endif %}

</div>
{% endblock %}
