{% extends '_template.njk' %}
{% block body %}
<div class="container">

<p class="lead"><i data-feather="user"></i> My Profile</p>

{% set u = user %}

<h1>{{ u.firstName }} {{ u.lastName }}</h1>

<table class="table" style="width: auto;">
  <tr>
    <th>First Name</th>
    <td>{{ u.firstName }}</td>
  </tr>
  <tr>
    <th>Last Name</th>
    <td>{{ u.lastName }}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td><code>{{ u.email }}</code></td>
  </tr>
  <tr>
    <th>NC County</th>
    <td>{{ u.county.name | default('<em>not specified</em>' | safe) }}</td>
  </tr>
  <tr>
    <th>Gender</th>
    <td>{{ u.gender | default('<em>not specified</em>' | safe) }}</td>
  </tr>
</table>

<div class="py-3">
  <a href="/profile/edit" class="btn btn-primary">Edit Profile</a>
</div>

</div>
{% endblock %}