<script defer src="/static/survey-jquery/survey.jquery.min.js"></script>
<link rel="stylesheet" href="/static/survey-jquery/survey.min.css">

{# <script defer src="/static/axios/axios.min.js"></script> #}

{# <style>
  .svd_commercial_container {
    position: absolute;
    bottom: 0;
  }
</style> #}