<link rel="stylesheet" href="/static/surveyeditor/surveyeditor.min.css">
<script defer src="/static/surveyeditor/knockout-min.js"></script>
<script defer src="/static/surveyeditor/survey.ko.min.js"></script>
<script defer src="/static/surveyeditor/surveyeditor.min.js"></script>

{# <script defer src="/scripts/ckeditor/ckeditor.js"></script> #}

{% include './_ckEditorAssets.njk' %}

<style>
  .svd_commercial_container {
    position: absolute;
    bottom: 0;
  }
</style>