{% extends '_template.njk' %}
{% block body %}
<div class="container">

<h2><code class="error">404</code></h2>

<h1>Not found</h1>

<p>Sorry, we could not find that resource.</p>

</div>

{% endblock %}