{% extends '_template.njk' %}

{% block head %}
<style>
  dt {
    padding-top: 1em;
  }
</style>
{% endblock %}

{% block body %}
<div class="container">

<h1>About the Helping Hands Training Portal</h1>

<p>a project of <a href="https://nccollaborative.org">The NC Collaborative for
Children, Youth and Families</a> and <a href="https://ncfamiliesunited.org">NC
Families United</a>.</p>

<h2>Service Definitions</h2>

<dl>
  <dt>Family Member</dt>
  <dd>
    A person that lives in a household that has a parent, sibling, child/foster
    child that is eligible for multi-services to support their everyday success.
  </dd>
  <dt>Family Partner</dt>
  <dd>
    A person who can articulate lessons learned from his/her own lived
    experience *parenting a child/youth with social/emotional or behavioral
    challenges and has specialized training to assist and support families
    raising children/youth who experience social/emotional, developmental,
    behavioral, substance use, or mental illness concerns. A Family Partner
    collaborates with child and family serving systems and family and youth
    organizations to improve family outcomes and strives to eliminate stigma and
    discrimination. *Parenting a child is defined as the primary caretaker of a
    child for an extended period of time who has decision making authority for
    that child.
  </dd>
  <dt>Family Partner Coordinator</dt>
  <dd>
    The lead Family Partner. The FPC may act as supervisor, mentor or coach to
    the Family Partner. Not all Family Partners are Family Partner Coordinators
  </dd>
  <dt>Youth Partner</dt>
  <dd>
    Someone who understands the youth or young adult and is invaluable when the
    goal is to support the recovery process and to achieve positive outcomes.
    Thus, the Youth Partner is similar to the Family Partner that has proven
    helpful to parents/caregivers. Youth Partners add value to the NC Wraparound
    team in several ways. Because Youth Partners have experienced similar
    challenges, they can often engage and communicate with youth at levels
    parents or professionals cannot. They understand the lifestyles and culture
    of the youth. They understand how it feels to live with behavioral health
    challenges.
  </dd>
</dl>


</div>
{% endblock %}