{% extends '_template.njk' %}
{% block body %}
<div class="container">

<h1 class="display-4">Welcome</h1>

<p>Please <a href="/login">log in</a> to access the training system.</p>

<p style="text-align: center;"><a href="/login" class="btn btn-primary">Log In</a></p>

</div>
{% endblock %}