{% extends '_template.njk' %}

{% from 'macros/input.njk' import input %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}

{% block head %}
  {% include 'partials/_ckEditorAssets.njk' %}
{% endblock %}

{% block body %}

{{ breadcrumb([['Admin','/admin'], ['Orgs','/admin/orgs'], ['Edit']]) }}

<div class="container">

<p class="lead">{{ 'New' if isNew else 'Edit' }} Organization</p>

{% if error or form.errors %}
  <div class="alert alert-danger">
    <p>Sorry, there was an error saving the organization. Please check the form
    below for errors and submit again.</p>
    {% if error %}<p>{{ error }}</p>{%
    endif %}
  </div>
{% endif %}

{% if isNew %}
  <form action="/admin/orgs/new" method="post">
{% else %}
  <form action="/admin/orgs/{{ form.id }}/edit" method="post">
{% endif %}

  {{ input(name='name', label='Name', required=true, form=form) }}
  {{ input(name='shortName', label='Short Name', form=form) }}
  {{ input(name='url', label='Website (URL)', type='url', form=form) }}
  {{ input(name='description', label='Description', required=true, type='textarea', form=form, styles={'visibility': 'hidden'}) }}

  <div class="d-flex justify-content-end">
    <a href="/admin/orgs/{{ form.id if not isNew }}" class="btn btn-secondary m-2">Cancel</a>
    <button class="btn btn-primary m-2" type="submit">Save</button>
  </div>
</form>

</div>{# /.container #}

<script src="/scripts/admin/orgs/edit-org.js"></script>
{% endblock %}