{% extends '_template.njk' %}

{% from 'macros/input.njk' import input %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}

{% block head %}
  {% include 'partials/_ckEditorAssets.njk' %}
  {% include 'partials/_select2Assets.njk' %}
{% endblock %}

{% block body %}

{{ breadcrumb([['Admin','/admin'], ['Trainings','/admin/trainings'], ['Edit']]) }}

<div class="container">

<p class="lead">{{ 'New' if isNew else 'Edit' }} Training</p>

{% if error or form.errors %}
  <div class="alert alert-danger">
    <p>Sorry, there was an error saving the training. Please check the form for
    errors below and submit again.</p>
    {% if error %}<p>{{ error }}</p>{% endif %}
    <pre>{{ error | dump(2) }}</pre>
    <pre>{{ form.errors | dump(2) }}</pre>
  </div>
{% endif %}

{% if isNew %}
  <form action="/admin/trainings/new" method="post">
{% else %}
  <form action="/admin/trainings/{{ training.id }}/edit" method="post">
{% endif %}
  {{ input(name='title', label='Title', required=true, form=form) }}
  {{ input(name='hours', label='Hours', type='number', form=form, attrs={min:0}) }}
  {{ input(name='isGraded', label='Graded', type='checkbox', form=form) }}
  {{ input(name='passPercent', label='Passing %', type='number', attrs={min:0, max:100}, form=form, style={'visibility': 'hidden'}) }}
  {{ input(name='shortDescription', label='Short Description', type='textarea', form=form) }}
  {{ input(name='longDescription', label='Long Description', required=true, type='textarea', form=form, styles={'visibility': 'hidden'}) }}
  {{ input(name='organizations', label='Affiliated Organizations', type='select2', form=form, multiple=true, options=orgs ) }}
  <div class="d-flex justify-content-end">
    <a href="/admin/trainings/{{ form.id }}" class="btn btn-secondary m-2">Cancel</a>
    <button class="btn btn-primary m-2" type="submit">Save</button>
  </div>
</form>

</div>{# /.container #}

<script src="/scripts/admin/trainings/new-edit.js"></script>
{% endblock %}