<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <style>
    {% include './emailStyles.css' %}
  </style>
  
  {% block head %}
  {% endblock %}
</head>

<body>
  {% block body %}
  {% endblock %}

  {% if NODE_ENV != 'production' %}
    <p><code style="color: red;">[SENT FROM TEST ENVIRONMENT]</code></p>
  {% endif %}
</body>
</html>