{% extends '_emailTemplate.njk' %}

{% block body %}

<p>Your password has been changed for the following account:</p>

<p><code>{{ user.email }}</code></p>

{% set loginLink = site.origin + '/login' %}

<p>You may now log in using your new password at <a href="{{ loginLink }}">{{ loginLink }}</a></p>

{% endblock %}
