{% extends '_emailTemplate.njk' %}

{% block body %}

<p>Hi {{ user.firstName }},</p>

{% if isNewAccount %}
  <p>Your account has been registered on the Helping Hands Training Portal.
  Please click the link below to verify your email address and activate your
  account.</p>
  
  <p>Name: {{ user.firstName }} {{ user.lastName }}</p>
  <p>Temporary Password: <code>{{ newPass }}</code></p>

{% else %}

  <p>Your email address has been updated in our records. Please use the below
  link to verify that this is the correct email address.</p>

{% endif %}

<p>Email: <code>{{ user.email }}</code></p>

{% set verifyLink = site.origin + '/users/verify?v=' + user.id + '+' + user.verifyCode %}

<p><a href="{{ verifyLink }}" style="font-family: monospace;">{{ verifyLink }}</a></p>

<p>If you believe you recieved this message in error, you may ignore it or
contact {{site.contactEmail }} to inquire further.</p>

{% endblock %}
