{% extends '_template.njk' %}

{% block title %}System of Care Timeline{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/timelinejs/css/timeline.css">
  <script defer src="/static/timelinejs/js/timeline-min.js"></script>
{% endblock %}

{% block body %}

<div class="container-fluid" style="height: 100vh;">
  <h1 class="h2">System of Care Timeline</h1>
  <div id="timeline-container"></div>
</div>

<script defer src="/scripts/public/soc-timeline.js"></script>

{% endblock %}