.survey-editor-container {
  .svd_questions_editor {
    padding-top: 0 !important;
  }

  .sv_progress_bar {
    color: white;

    & span {
      padding-left: 1em;
    }
  }

  .svd_content {
    padding: 1rem !important;

    .svd_toolbox {
      padding: 0 !important;
    }

    .svd_question {
      & > div:nth-child(2) {
        padding: 1rem !important;
      }
    }
  }

  .svd_container {
    .modal-dialog {
      // max-width: none !important;
      // width: 90vw;
      // height: 90vh;

      .modal-content {
        height: 100%;

        .modal-header {
          button.close {
            margin: -1rem;
            padding: 1rem !important;
            opacity: unset !important;
          }
        }

        .modal-body {
          // max-height: unset;
        }
      }
    }
  }

  .svd_question {
    border: 1pt dashed grey;
    padding: 0.25rem;
  }

  .cke_editable {
    font-size: 1rem;
  }

  // survey preview mode
  #surveyjsExample .sv_p_root {
    padding: 1rem !important;
    font-size: 1rem !important;
  }

  // Make headings relative font-size (em, not rem)
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.75em;
  }
  h4 {
    font-size: 1.5em;
  }
}
